/* keseluruhan */
*{
    padding: 0;
    margin: 0;
    font-family: 'Helvetica';
}

/* body saja */
body{
    overflow-x: hidden;
}

/* nav saja */
nav{
    position: fixed;
}

/* grup nafbar */
.bg-nav{
    background-color: #F1F3FF;
    width: 1450px;
    height: 80px;
}

.logo{
    position: absolute;
    width: 100px;
    height: 34px;
    left: 136px;
    top: 25px;
}

.menu{
    top: 0;
    left: 0;
    right: 136px;
    bottom: 0;
    display: flex;
    justify-content: end;
}
 
.menu ul li{
    text-decoration: none;
    float: left;
    overflow: hidden;
    padding: 32px;
}

.menu ul li a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    text-decoration: none;
}

.btn-blok{
    padding: 16px 24px;
    border-radius: 5px;
    text-decoration: none;
}

.bg-green{
    background-color: #5CB85F;
    color: white !important;
}

/* grup hero */
.hero{
    background-color: #F1F3FF;
    width: 1450px;
    height: 500px;
}

.hero img{
    position: absolute;
    width: 704px;
    height: 407px;
    left: 740px;
    top: 97px;
}

h1.hero-1 {
    position: absolute;
    width: 568px;
    height: 108px;
    top: 177px;
    left: 136px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
}

p.hero-2 {
    position: absolute;
    width: 468px;
    height: 60px;
    left: 136px;
    top: 301;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.btn-sewa{
    text-decoration: none;
    width: 116px;
    height: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;
    
    position: absolute;
    width: 140px;
    height: 36px;
    left: 136px;
    top: 377px;
}

/* grup Our Service */
.os-1{
    position: absolute;
    width: 459px;
    height: 428px;
    left: 206px;
    top: 604px;
}

.desc-os{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    
    position: absolute;
    width: 468px;
    height: 356px;
    left: 765px;
    top: 640px;
}

.os-2{
    width: 468px;
    height: 72px;

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.os-3{
    width: 468px;
    height: 60px;
    
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.os-4 li{
    text-decoration: none;
    overflow: hidden;
    
}

.os-5{
    position: absolute;
    left: -1px;
}

/* grup Why Us */
.wu{
    position: absolute;
    width: 1168px;
    height: 308px;
    left: 136px;
    top: 1132px;
}

.list{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    
    position: absolute;
    width: 1168px;
    height: 196px;
}

.wu-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;
    
    width: 268px;
    height: 196px;
    
    border: 1px solid #D0D0D0;
    border-radius: 8px;
}

/* .testi{
    position: absolute;
    width: 1921px;
    height: 438px;
    left: -241px;
    top: 1540px;    
}

.testi h2{
    position: absolute;
    height: 36px;
    left: 48%;

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.testi p{
    position: absolute;
    width: 468px;
    height: 20px;
    top: 50px;
    left: 43%;

    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.list-testi{
    position: absolute;
    width: 1921px;
    height: 270px;
    top: 100px;
}

.card-testi{
    width: 415px;
    height: 132px;
} */

/* grup Testimonial */
#testimonial{
    position: absolute;
    width: 1921px;
    height: 438px;
    left: -241px;
    top: 1540px;
}

body {
    font-family: Helvetica;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

.bg-aliceblue {
    background-color: #f1f3ff;
}

.bg-button {
    background-color: #5cb85f!important;
}

.bg-primary-darkblue {
    background-color: #0d28a6;
}

.testimonial-img {
    width: 80px;
    height: 80px;
}

.testimonial-rating {
    max-height: 16px;
}

.testimonial-name {
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    color: black;
    line-height: 0px;
}

.testimonial-media {
    margin-top: 20px;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: #f1f1f1;
    color: black;
    border-radius: 50%;
}

.testimonial-media:hover {
  background-color: #04AA6D;
  color: white;
}

.footer-link {
    text-decoration: none;
    color: black;
    font-weight: normal;
    font-size: 14px;
}

.footer-social {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.btn-carousel{
    z-index: 2;
}

.alert-red {
    background-color: #fa2c5a;
}

.alert-yellow {
    background-color: #f9cc00;
}

.alert-green {
    background-color: #73ca5c;
}

/* grup CTA Banner */
.cta-banner{
    position: absolute;
    width: 1168px;
    height: 326px;
    left: 136px;
    top: 2078px;
    color: white;
}

.bg-banner{
    position: absolute;
    width: 1168px;
    height: 326px;
    left: 136px;
    top: 2078px;
    
    background: #0D28A6;
    border-radius: 13px;
}

.text-1{
    position: absolute;
    top: 80px;
    left: 260px;
}

.text-2{
    position: absolute;
    text-align: center;
    top: 150px;
    left: 330px;
    width: 468px;
    height: 40px;
}

.btn-cta{
    position: absolute;
    top: 250px;
    left: 500px;
}

/* grup FAQ */
/* .collapsed{
    width: 100% !important;
} */

.faq{

    position: absolute;
    width: 1168px;
    height: 344px;
    left: 136px;
    top: 2504px;
}

/* .list-faq{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    
    position: absolute;
    width: 668px;
    height: 344px;
    left: 500px; 
} */

/* grup Footer */
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 86px;
    
    position: absolute;
    width: 1141px;
    height: 128px;
    left: 136px;
    top: 2998px;
}

.address{
    width: 268px;
    height: 112px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.nav-foot{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    
    left: 400px;
    width: 79px;
    height: 128px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.list-sosmed{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    
    position: absolute;
    width: 224px;
    height: 32px;
    left: 570px;
    top: 36px;
}
